@import "~bootstrap/scss/bootstrap.scss";

.delete{
    float: right;
    background-color: red;
    border-radius: 0.2rem;
    color: black;
    font-weight: bold;
}


.list{
    margin: 1.5rem auto;
    width: 25rem;
    height: auto;
    border-radius: 0.3rem;
    border: 5px ridge orange;
    background-color: rgb(201, 201, 201);
    text-align: center;
    font-size: 1.5rem;
    
}

li{
    padding:0.5rem;
}